<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='로그인'">
<head></head>
<body>
<div layout:fragment="content">
    <h1>로그인</h1>
    <div th:text="${loginError}"></div>
    <form action="/user/login.do" method="post" th:object="${loginValid}">
        <div>
            <input type="text" name="email" th:value="${loginValid != null ? loginValid.email : ''}">
        </div>
        <div th:text="${loginError?.getFieldError('email')?.getDefaultMessage()}"></div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <br>
        <input type="password" name="password" placeholder="비밀번호">
        <br>
        <button type="submit">로그인</button>
    </form>
    <a href="/user/signup.do">회원가입</a>
</div>
</body>
</html>
