<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='로그인'">
<head></head>
<body>
<div layout:fragment="content">
    <style>
        .error {
            color: red;
        }
    </style>
    <div th:text="${msg}" class="text-danger"></div>
    <h1>로그인</h1>
    <form  th:object="${loginValid}" style="width: 350px;"
            action="/user/login.do" method="post">
        <div class="mb-3 form-floating">
            <input  id="loginEmail" class="form-control"
                    th:value="*{email}"
                    type="text" name="email" placeholder="이메일">
            <label for="loginEmail">이메일 작성</label>
        </div>
        <span th:if="( *{email} != null)"  class="text-danger" th:errors="*{email}" ></span>

        <div class="mb-3 form-floating">
            <input  id="loginPassword" class="form-control"
                    th:value="*{password}"
                    type="text" name="password" placeholder="비밀번호">
            <label for="loginPassword">비밀번호 작성</label>
        </div>
        <span th:if="(*{password} != null )"  class="text-danger" th:errors="*{password}" ></span>
        <div>
            <button class="btn btn-outline-secondary" type="submit">로그인</button>
            <a  class="btn btn-link" href="/user/signup.do">회원가입</a>
        </div>
    </form>
</div>
</body>
</html>
