<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='정보 수정'">
<head></head>
<body>
<div layout:fragment="content">
    <h1>정보 수정</h1>
    <p>POST ID: <span th:text="${postId}">1</span></p>
    <form th:action="@{'/info/edit.do'(id=${postId})}" method="post">
        <input type="text" name="title" placeholder="제목">
        <br>
        <textarea name="content" placeholder="내용"></textarea>
        <br>
        <input type="text" name="tags" placeholder="태그 콤마로 입력">
        <br>
        <button type="submit">수정</button>
        <a th:href="@{'/info/' + ${postId} + '/detail.do'}">취소</a>
    </form>
</div>
</body>
</html>
