<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='정보 리스트'">
<head></head>
<body>
<div layout:fragment="content">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1 class="h3 mb-0 fw-semibold">정보 리스트</h1>
        <a class="btn btn-primary" href="/info/write.do">글 작성</a>
    </div>


    <section class="card">
        <div class="card-header d-flex align-items-center justify-content-between bg-light">
            <h2 class="h5 mb-0">목록</h2>
            <small class="text-muted">Pageable: <span th:text="${pageable}">pageable</span></small>
        </div>
        <div class="card-body">
            <div class="list-group list-group-flush">
                <a th:each="info : ${infoPostPage.content}" href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${info.title}"></h5>
                        <small th:text="${info.createdAt}"></small>
                    </div>
                    <p class="mb-1">
                        <span th:text="${info.member.nickname}"></span>
                        <span th:text="${info.member.email}"></span>
                    </p>
                    <ul class="breadcrumb" style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                        <li class="breadcrumb-item"> 댓글: <b th:text="${info.infoComments.size()}"></b> </li>
                        <li class="breadcrumb-item"> 좋아요: <b th:text="${info.infoLikes.size()}"></b> </li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="card-footer">
            <a class="link-secondary" href="/index.html">← 홈</a>
        </div>
    </section>

</div>


</body>
</html>
