<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='질문 상세'">
<head></head>
<body>
<div layout:fragment="content">
    <h1>질문 상세</h1>
    <div class="d-flex">
<!--   Long qnaPostId; Long memberId; Reaction reaction;-->
        <form  class="reaction-form me-2" action="/qna/reaction" method="post">
            <input type="hidden"  name="qnaPostId" th:value="${post.id}">
            <input type="hidden"  name="reaction" value="HELPFUL">
            <button class="btn btn-outline-primary"  th:classappend="${post.isHelpful(session.loginUser.id)  ? 'active' : ''}">
                도움됨
                <span class="badge bg-secondary" th:text="${post.helpfulCnt}"></span>
            </button>
        </form>
        <form class="reaction-form me-2" action="/qna/reaction" method="post">
            <input type="hidden"  name="qnaPostId" th:value="${post.id}">
            <input type="hidden"  name="reaction" value="INTERESTING">
            <button class="btn btn-outline-danger" th:classappend="${post.isInteresting(session.loginUser.id)  ? 'active' : ''}">
                흥미로움
                <span class="badge bg-secondary" th:text="${post.interestingCnt}"></span>
            </button>
        </form>
        <script>
            const reactionForms = document.querySelectorAll('.reaction-form');
            const reactionSubmitHandler = e => {
                e.preventDefault();
            }
            reactionForms.forEach(form => {
                form.addEventListener('submit', reactionSubmitHandler);

            })

        </script>
    </div>
    <p>POST ID: <span th:text="${postId}">1</span></p>
    <section class="d-flex">
        <div th:each="image : ${post.qnaImages}">
<!--            <img width="100" th:src="@{ http://localhost:8333/images/{url} (url=${image.imageUrl})}" alt="">-->
            <img width="100" th:src="@{ ${image.presignedUrl}}" alt="">
        </div>
    </section>

    <section>
        <h2 th:text="${post.title}"></h2>
        <div th:utext="${post.content}"></div>
    </section>
    <a th:href="@{'/qna/edit.do'(id=${postId})}">수정</a>
    <a th:href="@{'/qna/' + ${postId} + '/remove.do'}">삭제</a>
    <br>
    <a href="/qna/list.do">← 목록</a>
</div>
</body>
</html>
