<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='질문 리스트2'">
<head></head>
<body>
<div layout:fragment="content">
    <h1>질문 리스트</h1>
    <a href="/qna/write.do">질문 작성</a>
    <form action="/qna/list.do" method="GET"  class="my-4">
        <!--<input type="hidden" name="categoryId" th:value="${categoryId}">-->
        <div class="input-group">
            <select class="col-3 form-select" name="field" id="searchField">
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
            <input class="col-7 form-control" name="search" type="text">
            <button class="col-2 btn btn-outline-primary" type="submit">검색</button>
        </div>
    </form>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>이메일</th>
                <th>상세</th>
            </tr>
        </thead>
        <tbody>
<!--     List Set  []  for(QnaPost post : qnaPostPage.getContent()){} -->
            <tr th:each="post : ${qnaPostPage.content}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.member.email}"></td>
                <td>
                    <a th:href="@{/qna/{id}/detail.do (id=${post.id})}">상세</a>
                </td>
            </tr>
        </tbody>
    </table>
<!--&lt;!&ndash;  전체페이지수,현재페이지,사이즈,정렬  &ndash;&gt;-->
<!--    <ul>-->
<!--        <li th:text="${qnaPostPage.pageable}"></li>-->
<!--        <li th:text="${qnaPostPage.totalPages}"></li>-->
<!--        <li th:text="${qnaPostPage.number}"></li>-->
<!--        <li th:text="${qnaPostPage.sort}"></li>-->
<!--    </ul>-->

    <div class="d-flex mt-3 justify-content-end">
        <nav class="">
            <a class="btn btn-sm btn-outline-secondary"
               th:href="@{'?'(page=0,size=2,search=${param.search},field=${param.field}) }">2</a>
            <a class="btn btn-sm btn-outline-secondary"
               th:href="@{'?'(page=0,size=4,search=${param.search},field=${param.field})}">4</a>
            <a class="btn btn-sm btn-outline-secondary"
               th:href="@{'?'(page=0,size=6,search=${param.search},field=${param.field})}">6</a>
            <a class="btn btn-sm btn-outline-secondary"
               th:href="@{'?'(page=0,size=10,search=${param.search},field=${param.field})}">10</a>
        </nav>
    </div>

    <div th:with="
        page=${qnaPostPage.number},
        last=${qnaPostPage.totalPages},
        sort=${qnaPostPage.sort},
        size=${param.size}"
        class="my-4 d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item"
                    th:classappend="${page}==0 ? 'disabled' ">
                    <a th:href="@{'?'(page=0,size=${size},search=${param.search},field=${param.field})}" class="page-link">start</a>
                </li>
                <li  th:each="i : ${#numbers.sequence(1,last)}"
                     th:classappend="( (${i}-1)==${page}?'active' )"
                     class="page-item">
                    <a th:href="@{'?'(page=(${i}-1), size=${size},search=${param.search},field=${param.field})}" class="page-link" th:text="${i}" > </a>
                </li>
                <li class="page-item"
                    th:classappend="${page}==(${last}-1) ? 'disabled' ">
                    <a th:href="@{'?'(page=${last}-1,size=${size},search=${param.search},field=${param.field})}" class="page-link">last</a>
                </li>

            </ul>
        </nav>
    </div>
    <a href="/index.html">← 홈</a>
</div>
</body>
</html>
