<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle='질문 작성'">
<head></head>
<body>
<div layout:fragment="content">
    <h1>질문 작성</h1>
    <form action="/qna/write.do" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="제목">
        <br>
        <textarea name="content" placeholder="내용"></textarea>
        <br>
        <input type="text" name="tags" placeholder="태그 콤마로 입력">
        <br>
        <input type="file" multiple name="images">
        <br>
        <button type="submit">작성</button>
    </form>
    <a href="/qna/list.do">← 목록</a>
</div>
</body>
</html>
